%li.user-card
  .user-img
    -if user.image_1_id?
      %div{style: "background: url( '#{ attachment_url user, :image_1, :fill, 200, 200 }' ), no-repeat center; background-size: cover"}
    -else
      %div{style: "background: url( '#{ attachment_url slide_image, :image, :fill, 200, 200 }' ), no-repeat center; background-size: cover"}
  .user-content
    %h4= user.name
    -if user.contactable?
      %ul
        %li= user.phone
        %li
          =link_to user.email, "mailto: 'jeffsee.55@gmail.com'", target: "_blank"
    = user.bio
