.container.clear-nav
  %h3 Status
  %table.list-table
    =render partial: "partials/list_item",
      locals: @order.to_local_list_item
  %ul.accordion-tabs
    %li.tab-header-and-content
      %a.is-active.tab-link{:href => "javascript:void(0)"}
        %h2 Summary
      .tab-content
        =render partial: "orders/order_summary", locals: { order: @order }
    %li.tab-header-and-content
      %a.tab-link{:href => "javascript:void(0)"}
        %h2 Manage 
      .tab-content.manage-order
        .clear
          .half-column
            %h3 Information
            %hr.thick
            %ul
              %li
                %h3= "Name: #{@order.name}"
              %li
              -if @order.hand_deliver?
                Hand deliver, no shipping information provided
              -else
                %li= @order.name
                %li= "#{ @order.street1 }, #{ @order.street2 }"
                %li= "#{ @order.city }, #{ @order.state} #{ @order.zip }"
          .half-column
            %h3 Actions
            %hr.thick
            %ul
              %li
                = mail_to @order.email, "Email: #{@order.email}", class: 'btn'
              -if @order.current_state == "completed"
                %li
                  =link_to "Mark Inomplete", admin_order_path(@order, status: "incomplete"), class: 'btn', method: :patch
              -else
                %li
                  =link_to "Mark Complete", admin_order_path(@order, status: "complete"), class: 'btn', method: :patch
              %li
                =button_to "Delete Order", admin_order_path, class: "btn warning", method: :delete, data: { confirm: "Are you sure?" }
