!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %link{rel: "icon", type: "image/png",href: "#{asset_path "favicon.png"}"}
    %title Tennis Advantage - Sydney
    = stylesheet_link_tag :application, media: "all"
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}
    = csrf_meta_tags
  %body{:class => body_class}
    = render "flashes"
    = render "nav"
    = yield :hero
    .container
      = yield
    = render "footer"
    = render "javascript"
